.imagesUploader {
    
}

.imagesUploader__imagesList {
    text-align: left;
    margin-bottom: 16px;
    padding: 0;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
}

.imagesUploader__image {
    list-style: none;
    padding: 8px 0;
}

.imagesUploader__image + .imagesUploader__image {
    border-top: 1px solid var(--color-gray);
}

.imagesUploader__image::before {
    content: "\2013";
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    color: var(--color-primary)
}

.imagesUploader__showFullListControl {
    text-align: center;
    box-shadow: 0 0 5px 0px #00000047;
}
.imagesUploader__showFullListBtn {
    margin: 0 auto;
    background: transparent;
    color: var(--color-primary);
}