.stage {
    text-align: center;
}

.stage__title {
    font-size: 24px;
    margin: 0;
}

.stage__content {
    overflow: hidden;
    max-height: 0;
}

.stage__content_active {
    max-height: none;
}

.stage__description {
    font-size: 16px;
    margin: 0;
}

.stage__handler {
    margin: 24px 0 16px;
}

.stage__btnToggle {
    font-size: 24px;
    font-weight: 600;
    border-radius: 50%;
    padding: 4px 10px;
    color: white;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    transform: rotate(90deg);
    transition: all .2s ease
}

.stage__btnToggle_active {
    transform: rotate(-90deg);
}