.boxPanel {
    margin-bottom: 16px;
}

.boxPanel__elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.boxPanel__control {
    margin-top: 8px;
    white-space: nowrap;
}
.boxPanel__control + .boxPanel__control {
   margin-left: 12px;
}

.boxPanel__label {
    margin-right: 8px;
    font-weight: 600;
}

/*Маржин*/
.boxChanger__marginBox {
    position: relative;
    margin: auto;
}

.boxChanger__marginStripe {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #00000073;
    color: white;

    font-size: 24px;
    font-weight: bold;

    z-index: 10;
    
    cursor: col-resize;

    opacity: 0;
    transition: opacity .3s, background-color .3s;
}

.boxChanger__marginStripe::after {
    content: '||';
}

.boxChanger__marginBox:hover .boxChanger__marginStripe {
    opacity: 1;
}

.boxChanger__marginStripe:hover {
    background-color: #000000b0;
}

/*  Бокс внутренних отсупов  */
.boxChanger__paddingBox {
    background: repeating-radial-gradient(
        circle,
        var(--color-primary),
        var(--color-primary) 7px,
        #ffffff 7px,
        #ffffff 12px);
    background-size: 12px 12px;
}

.boxChanger__paddingToggle {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    background: #00000052;
    z-index: 10;
    cursor: col-resize;
    user-select: none;
}

.boxChanger__paddingToggle::before {
    content: "||";
    color: white
}

.boxChanger__paddingToggle_left {
    left: 0;
}

.boxChanger__paddingToggle_right {
    right: 0;
}

/*  Контент  */
.boxChanger__content {
    background-color: white;
    width: 100%;
}