.header {
    background-color: var(--color-primary);
    margin-bottom: 16px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__inner {
    padding: 16px 24px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 32px;
    font-weight: 600;
    color: white;
}